.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-container {
  padding: 40px 0 40px 0;
}

.intro-teaser {
  background-image: url('./floral-seamless-pattern.jpg');
  height: 100vh;
}

/* NAVIGATION */

.impersonation-badge {
  padding: 0 1rem;
  max-height: 4rem;
  display: flex;
  align-items: center;
}

.impersonation-badge img.impersonation-badge--avatar {
  width: 1.8rem !important;
  border-radius: 50%;
  margin-right: .75rem !important;
}

/* QUESTIONS PANEL */

.panel--question {
  border: 0.1rem solid #800020;
  border-radius: .4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* TYPOGRAPHY  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 3rem;
}

.c-white {
  color: white;
}

p.subheading {
  color: #bbbec1;
}

.t-center {
  text-align: center;
}