html,
body {
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-container {
  padding: 40px 0 40px 0;
}

.main {
  height: 100vh;
  background-image: url('./floral-seamless-pattern.jpg');
}

/* NAVIGATION */

.impersonation-badge {
  padding: 0 1rem;
  max-height: 4rem;
  display: flex;
  align-items: center;
}

.impersonation-badge img.impersonation-badge--avatar {
  width: 1.8rem !important;
  border-radius: 50%;
  margin-right: .75rem !important;
}

/* QUESTIONS PANEL */

.panel--question__preview {
  border: 0.1rem solid #800020;
  border-radius: .4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.home-asked-by-wrapper {
  display: flex;
  align-items: center;
}

.home-question-author__avatar {
  display: inline-flex;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.home-question-author__avatar--placeholder {
  display: inline-flex;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

img.question-author__avatar {
  border-radius: 50%;
  max-width: 20rem;
}

div.question-author__avatar--placeholder {
  border-radius: 50%;
  max-width: 20rem !important;
  margin: 0 auto;
}

.center-image {
  text-align: center;
}

.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  min-height: 15rem;
  width: auto;
  background-color: rgb(249, 250, 251);
  border: 0.1rem solid;
  border-radius: .5rem;
  border-color: rgba(34, 36, 38, 0.15);
  margin-bottom: 1rem;
}

.question-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 15rem;
  width: auto;
  background-color: rgb(249, 250, 251);
  border: 0.1rem solid;
  border-radius: .5rem;
  border-color: rgba(34, 36, 38, 0.15);
  margin-bottom: 1rem;
}

div.question-box label {
  font-size: 1.7rem !important;
}

div.question-box .option-heading {
  text-decoration: underline;
  font-size: 2.3rem;
}

.result-box--voted {
  background-color: green;
}

.result-box .voted-mark {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  background-color: #00b5ad;
  color: white;
}

.result-box .voted-mark p {
  font-weight: 600;
  font-style: italic;
}

/* LEADERBOARD */

.my-segment {
  display: flex;
  min-height: 8rem;
}

.leaderboard__userdetails {
  display: inline-block;
}

.leaderboard__avatar {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}

.leaderboard__avatar img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

/* TYPOGRAPHY  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 3rem;
}

.c-white {
  color: white;
}

p.subheading {
  color: #bbbec1;
}

.t-center {
  text-align: center;
}